<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
       <tr>
           <td>content 1</td>
           <td>content 2</td>
           <td>content 3</td>
       </tr>
       <tr>
           <td>content 1</td>
           <td>content 2</td>
           <td>content 3</td>
       </tr>
       <tr>
           <td>content 1</td>
           <td>content 2</td>
           <td>content 3</td>
       </tr>
       <tr>
           <td>content 1</td>
           <td>content 2</td>
           <td>content 3</td>
       </tr>
       <tr>
           <td>content 1</td>
           <td>content 2</td>
           <td>content 3</td>
       </tr>
       <tr>
           <td>content 1</td>
           <td>content 2</td>
           <td>content 3</td>
       </tr>
    </tbody>
</table>